<div
  id="ee-category"
  class="appearance-items-category active"
  data-category="{{category}}"
  data-categoryid="{{categoryid}}"
>
  <ul class="appearance-items-list" id="ee-items" style="max-height: 50vh">
    {{{appearanceItemsList}}}
  </ul>

  <!-- Info -->
  <div id="ee-info" class="appearance-items-info">
    <div class="appearance-info-tips"></div>

    <h3 class="appearance-item-info-name"></h3>

    <div class="appearance-item-info-guard"></div>
    <div class="appearance-item-info-rarity"></div>
    <div class="appearance-item-info-buttons">
      <div class="appearance-forward nl-button">Bring forward</div>
      <div class="appearance-backward nl-button">Move back</div>
    </div>
  </div>
</div>
