<div
  id="ee-category"
  class="appearance-items-category active"
  data-category="{{category}}"
  data-categoryid="{{categoryid}}"
>
  <style>
    #ee-items {
      scrollbar-color: dark;
      scrollbar-width: thin;
    }
  </style>
  <ul
    class="appearance-items-list"
    id="ee-items"
    style="max-height: calc(100vh - 565px)"
    data-category="{{category}}"
    data-categoryid="{{categoryid}}"
    data-categoryname="{{categoryname}}"
  >
    {{{items}}}
  </ul>

  <!-- Info -->
  <div id="ee-info" class="appearance-items-info">
    <div class="appearance-info-tips"></div>

    <h3 class="appearance-item-info-name"></h3>

    <div class="appearance-item-info-guard"></div>
    <div class="appearance-item-info-rarity"></div>
    <div class="appearance-item-info-buttons">
      <div class="appearance-forward nl-button">
        {{translate.appearance.buttons.forward}}
      </div>
      <div class="appearance-backward nl-button">
        {{translate.appearance.buttons.backward}}
      </div>
    </div>
  </div>
</div>
