<div id="appearance-load-container" style="display: inline-block">
  <style>
    #avatar-picto-actions #appearance-load::before {
      /*background-image: url(/static/img/diaries/dot-hover.png);*/
      background-image: url(https://cdn.discordapp.com/attachments/161636856482496522/875173811958460436/load-wardrobe.png);
      /* Red: -186deg, Green: -66 */
      filter: hue-rotate(-66deg);
    }
  </style>

  <div id="appearance-load" class="action action-picto">
    <p class="ee-tooltip">{{translate.appearance.buttons.load_tooltip}}</p>
  </div>
</div>
