<style>
  .flavr-container .flavr-fixer .flavr-outer .flavr-content h1 {
    margin: 0.5em 30px;
  }

  .created-outfit-popup .flavr-outer .flavr-message p:first-of-type {
    margin-top: 0em !important;
  }

  #choose-name {
    position: "relative";
    zindex: "1";
    margin-top: 1.5em;
  }
</style>

<h1>{{{translate.appearance.favourites.save_outfit.title}}}</h1>

<p>{{{translate.appearance.favourites.save_outfit.saved_locally}}}</p>

<br />

<p>{{{translate.appearance.favourites.save_outfit.goto_account}}}</p>

<input
  id="choose-name"
  maxlength="30"
  minlength="1"
  placeholder="{{translate.appearance.favourites.save_outfit.placeholder}}"
/>
