<div id="history-container" style="width: 100%">
  <style>
    .history-actions {
      margin-bottom: 1em;
    }

    .history-row {
      display: flex;
      flex-wrap: wrap;
    }

    .result-card {
      background-color: white;
      border-radius: 1em;
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
      margin: 1em;
      max-width: 150px;
      padding: 1em;
      text-align: center;
    }

    .result-image {
      background-color: white;
      border-radius: 1em;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12),
        0 2px 4px 2px rgba(0, 0, 0, 0.08);
      position: relative;
      top: -2em;
    }

    .result-name {
      color: rgb(52, 56, 111);
      font-size: 16px;
      font-weight: bold;
    }

    .result-date {
      color: #fb8900;
      font-size: 13px;
      font-weight: bold;
    }

    .result-icons {
      margin-top: 1em;
    }

    .result-count {
      background: #ffffff;
      border-radius: 100%;
      border: 1px solid #00cdfb;
      box-sizing: border-box;
      color: #3ec0d7;
      display: inline-block;
      font-family: "Alegreya Sans SC", sans-serif;
      font-size: 18px;
      font-weight: 800;
      height: 29px;
      line-height: 27px;
      text-align: center;
      user-select: none;
      width: 29px;
    }

    .history-tradable {
      background-color: #666;
      border-radius: 25px;
      border: 1px solid #b9b9b9;
      color: #ffffff;
      display: inline-block;
      font-family: "Temp Menu", serif;
      font-size: 13px;
      height: 15px;
      line-height: 15px;
      text-align: center;
      width: 15px;
    }
  </style>

  <div class="history-actions">
    <button id="delete-history" class="nl-button">
      {{translate.pet.delete_history}}
    </button>
  </div>

  <div class="history-row">
    {{#history}}
    <div class="result-card">
      <img class="result-image" src="{{icon}}" />
      <div class="result-name">{{name}}</div>
      <div class="result-date">{{date}}</div>

      <div class="result-icons">
        <span class="result-count">{{count}}</span>
        {{#tradable}}
        <span class="history-tradable"></span>
        {{/tradable}}
      </div>
    </div>
    {{/history}}
  </div>
</div>
