<div class="account-misc-bloc account-ee-bloc bloc">
  <!--
  <style>
    table {
      width: 100%;
    }

    th {
      text-align: start;
      padding: 1em;
    }
  </style>
  -->

  <!-- Settings -->
  <h2 class="section-title">{{translate.account.enhancements}}</h2>
  <ul class="account-misc-actions">
    <li
      id="ee-debug-enabled"
      class="nl-button nl-button-sm {{#debug}}active{{/debug}}"
      title="{{translate.account.debug_tooltip}}"
    >
      {{translate.account.debug}}
    </li>
    {{#unlocked}}
    <li
      id="ee-minigames-enabled"
      class="nl-button nl-button-sm {{#minigames}}active{{/minigames}}"
    >
      {{translate.account.minigames}}
    </li>
    <li
      id="ee-explorations-enabled"
      class="nl-button nl-button-sm {{#explorations}}active{{/explorations}}"
    >
      {{translate.account.explorations}}
    </li>
    <li
      id="ee-market-enabled"
      class="nl-button nl-button-sm {{#market}}active{{/market}}"
    >
      {{translate.account.market}}
    </li>
    {{/unlocked}}
    <li id="ee-import" class="nl-button nl-button-sm">
      {{translate.account.import}}
    </li>
    <li id="ee-export" class="nl-button nl-button-sm">
      {{translate.account.export}}
    </li>
  </ul>

  <!-- Explorations
  <h3 class="section-title">Explorations</h3>
  <table>
    <thead>
      <th>Location</th>
      <th>Delete</th>
    </thead>
    <tbody>
      <td>Rock</td>
      <td>
        <div class="nl-button nl-button-sm">Delete</div>
      </td>
    </tbody>
  </table>
  -->
</div>
