<style>
  table {
    text-align: center;
    width: 100%;
  }

  .action-picto {
    height: 50px;
    width: 50px;
    cursor: pointer;
  }

  .action-picto:hover:not(.disabled),
  .edit-price:hover {
    animation: button-bounce 300ms linear forwards;
    filter: brightness(1.05) contrast(1.1);
  }

  .edit-price {
    cursor: pointer;
  }

  img.disabled {
    filter: grayscale(1);
  }

  .item-icon-container {
    display: inline-block;
    position: relative;
  }

  .item-icon {
    width: 100px;
    height: 100px;
  }
</style>

<table>
  <thead>
    <tr>
      <th>{{translate.market.wishlist.icon}}</th>
      <th>{{translate.market.wishlist.name}}</th>
      <th>{{translate.market.wishlist.price}}</th>
      <th>{{translate.market.wishlist.status}}</th>
      <th>{{translate.market.wishlist.actions}}</th>
    </tr>
  </thead>
  <tbody>
    {{#wishlist}}
    <tr class="marketplace-abstract" data-icon="{{icon}}">
      <!-- Icon -->
      <td>
        <div class="item-icon-container">
          <img class="item-icon" src="{{icon}}" alt="{{name}}" />
          <div class="rarity-marker-{{rarity}}"></div>
        </div>
      </td>

      <!-- Name -->
      <td>
        <div class="abstract-name">{{name}}</div>
        <div class="abstract-type">{{abstractType}}</div>
      </td>

      <!-- Price -->
      <td>
        <div
          class="edit-price"
          title="{{translate.market.wishlist.change_price}}"
        >
          <span class="price-item">{{price}}</span>
          <span class="maana-icon" alt="maanas"></span>
        </div>
      </td>

      <!-- Error -->
      <td>
        <p class="error">{{error}}</p>
      </td>

      <!-- Actions -->
      <td>
        <img
          class="action-picto reset-item-status {{^error}}disabled{{/error}}"
          src="/static/img/new-layout/wardrobe/reset-btn.png"
          title="{{translate.market.wishlist.reset_tooltip}}"
          alt="{{translate.market.wishlist.reset}}"
        />
        <img
          class="action-picto delete-wishlist-item"
          src="/static/img/new-layout/wardrobe/delete.png"
          title="{{translate.market.wishlist.delete_tooltip}}"
          alt="{{translate.market.wishlist.delete}}"
        />
      </td>
    </tr>
    {{/wishlist}}
  </tbody>
</table>
