<style>
  table {
    text-align: center;
    width: 100%;
  }

  .action-picto {
    height: 50px;
    width: 50px;
    cursor: pointer;
  }

  .action-picto:hover,
  .edit-price:hover {
    animation: button-bounce 300ms linear forwards;
    filter: brightness(1.05) contrast(1.1);
  }

  .edit-price {
    cursor: pointer;
  }
</style>

<table>
  <thead>
    <tr>
      <th>Icon</th>
      <th>Name</th>
      <th>Price</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#wishlist}}
      <tr class="marketplace-abstract" data-wearableitemid="{{wearableitemid}}">

        <!-- Icon -->
        <td>
          <img src="{{icon}}" alt="{{name}}" width="100" height="100">
        </td>

        <!-- Name -->
        <td>
          <div class="abstract-name">{{name}}</div>
        </td>

        <!-- Price -->
        <td>
          <div class="edit-price" title="Change price">
            <span class="price-item">
              {{price}}
            </span> <span class="maana-icon" alt="maanas"></span>
          </div>
        </td>

        <!-- Error -->
        <td>
          <p class="error">{{error}}</p>
        </td>

        <!-- Actions -->
        <td>
          <img class="action-picto reset-item-status"
            src="/static/img/new-layout/wardrobe/reset-btn.png"
            title="Reset the error status" alt="Reset">
          <img class="action-picto delete-wishlist-item"
            src="/static/img/new-layout/wardrobe/delete.png"
            title="Remove from the wishlist" alt="Delete">
        </td>
      </tr>
    {{/wishlist}}
  </tbody>
</table>
